# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual Environments (venv)
venv/
.venv/
env/
.env/

# PyCharm / JetBrains IDE settings
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/

# Local configuration files
.env
